body
{
}
.contactExplore {
	margin-top: 500px;
	margin-right: 1600px;
	display: flex;
	justify-content: center;
	font-family: Mozilla, sans-serif;
}

.contactExplore > .instapic {
	background-image:url(../images/insta.jpg);
	width: 225px;
	height: 225px;
	justify-content: left;
}

.contactExplore > .instapic a:hover