@font-face {
	font-family:'ring';
<<<<<<< Updated upstream
	src: url('../fonts/ring.eot');
=======
	src: url(../fonts/ring.eot); 
>>>>>>> Stashed changes
	src: local('Bendable'), url('../fonts/ring.ttf') format('truetype') ;
}
body {
	background-image:url(../images/cliff.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 100px;
	margin: 0;
}
.title {
	width: auto;
}
.frontCard {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: ring, Geneva, sans-serif;
	font-size: 120px;
	height: 120px;
	padding-top: 80px;
	width: auto;
}
.frontCard > .mk {
	display: flex;
	margin-bottom: 20px;
	height: 150px;
	border-bottom: 4px solid black;
	border-radius: 7px;
	width: auto;
}
.frontCard > .mk > .k {
	width: 120px;
}
.frontCard > .mk > .m {
	display: flex;
	align-items: end;
	text-align: right;
	margin-left: 30px;
}
.frontName {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	font-family: ring, Geneva, sans-serif;
}
.title > .frontExplore {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 10%;
	padding: 0% 10%;
}
.title > .frontExplore > .linkPage {
	width: 140px;
	height: 34px;
	display: flex;
	padding-left: 4px;
	padding-right: 4px;
	justify-content: center;
}
.title > .frontExplore > .linkPage a {
	text-decoration: none;
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: black;
	border-radius: 0px;
	transition: 0.3s;
	padding-left: 4px;
	padding-right: 4px;
}
.title > .frontExplore > .linkPage a:hover {
	letter-spacing: 1px;
	border-bottom: 4px solid black;
	border-radius: 5px;
	font-weight: bold;
}
.reviews {
	height: auto;
	width: auto;
	display: flex;
	margin-top: 600px;
	flex-direction: column;
}
.reviews > .parallex {
	display: flex;
	flex-direction: column;
	background-image: url(images/streets.png);
	z-index: 1;
}
.reviews > .parallex > .quote {
	height: 200px;
	background-color: white;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviews > .parallex > .image{
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}